.filter-image-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .filter-image {
        width: 20px;
        &.activeup {

            background: greenyellow;
        }
        &.activedown {
            background: #EF4444;
        }
    }
}
